/* общие стили */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* fonts */

@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../font/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans-Semi-Bold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight:600;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: 'Open-Sans', sans-serif;
  background-color: var(--color-wild-sand);
  font-size: 14px;
  line-height: normal;
  font-weight: 400;

}


/* общие стили */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site-btn {
  background-color: var(--color-heliotrope);
  color: var(--color-white);
}

:root {
  --color-white: #fff;
  --color-wild-sand: #f5f5f5;
  --color-silver-chalice: #B0B0B0;
  --color-mine-shaft: #333333;
  --color-heliotrope: #9873FF;
  --color-melrose: #B89EFF;
  --color-gray-suit: #C8C5D1;
  --color-mischka: #E7E5EB;
  --color-athens-gray: #F4F3F6;
  --color-burnt-sienna: #F06A4D;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-modal {
  position: fixed;
  overflow-x: auto;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  opacity: 0;
}

.site-modal__content {
  max-width: 450px;
  cursor: auto;
  position: absolute;
  padding: 25px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, .15);
  background-color: var(--color-white);
  opacity: 0;
}

.site-tooltip {
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  transition: all .3s ease-in-out;
  padding: 7px 15px;
  background-color: var(--color-mine-shaft);
}

.site-tooltip::before {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  background-color: var(--color-mine-shaft);
}